*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    text-align: center;
    text-transform: capitalize;
    background-color: blueviolet;
    padding: 25px;
}
.navbar{
    background-color: grey;
    height: 65px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    clear: both;
    text-align: center;
    padding: 25px;
    background-color: brown;

}
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}